@model WebsiteBanHang.Models.KhachHang

@{
    ViewBag.Title = "IndexRoleUser";
    Layout = "~/Areas/KH/Views/Shared/TrangpageconKH.cshtml";
}


<style>
    /*.content-table th {
    background-color: #009879
}

.content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

    .content-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }

    .content-table tbody tr:last-of-type {
        border-bottom: 2px solid #009879;
    }*/


    /*.table th {
        background-color: #009879
    }

    .table thead tr {
        background-color: #009879;
        color: #ffffff;
        text-align: left;
        font-weight: bold;
    }

    .table th,
    .table td {
        padding: 12px 15px;
    }

    .table tbody tr {
        border-bottom: 1px solid #dddddd;
    }

        .table tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }

        .table tbody tr:last-of-type {
            border-bottom: 2px solid #009879;
        }*/

</style>
<table class="content-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tenkh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.diachi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sdt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th></th>
    </tr>

@*@foreach (var item in Model) {*@
    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.tenkh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.diachi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.sdt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.password)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id= Model.makh }) |
     
        </td>
    </tr>
@*}*@

</table>
